* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*Under this comment the lines are for the color picker that every page has*/
:root {
    --clr-body-bg: hsl(198, 60%, 60%);
    --clr-card-bg: hsl(1, 20%, 50%);
    --clr-text: hsl(0, 0%, 0%);
    --clr-heading: hsl(0, 0%, 0%);
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.color-picker>fieldset {
    border: 0;
    display: flex;
    gap: 2rem;
    background: #fff;
    width: fit-content;
    padding: 1rem 3rem;
    border-radius: 0 0 1rem 1rem;
    margin-inline: auto;
    margin-bottom: 10px;
}

.color-picker input[type="radio"] {
    appearance: none;
    width: 1rem;
    height: 1rem;
    border: 3px solid var(--radio-color, currentColor);
    border-radius: 50%;
}

.color-picker input[type="radio"]:checked {
    background-color: var(--radio-color);
}

.color-picker input[type="radio"]#light {
    --radio-color: yellow;
}

.color-picker input[type="radio"]#dark {
    --radio-color: black;
}

.color-picker input[type="radio"]#green {
    --radio-color: green;
}

.color-picker input[type="radio"]#pink {
    --radio-color: pink;
}

.pink {
    --clr-body-bg: hsl(310 50% 90%);
    --clr-card-bg: hsl(310 50% 100%);
    --clr-text: hsl(310 50% 15%);
    --clr-heading: hsl(310 50% 25%);
}

.blue {
    --clr-body-bg: hsl(209 50% 90%);
    --clr-card-bg: hsl(209 50% 100%);
    --clr-text: hsl(209 50% 15%);
    --clr-heading: hsl(209 50% 25%);
}

.green {
    --clr-body-bg: hsl(109 50% 90%);
    --clr-card-bg: hsl(109 50% 100%);
    --clr-text: hsl(109 50% 15%);
    --clr-heading: hsl(109 50% 25%);
}

.dark {
    --clr-body-bg: hsl(209 50% 10%);
    --clr-card-bg: hsl(209 50% 5%);
    --clr-text: hsl(209 50% 90%);
    --clr-heading: hsl(209 50% 80%);
}

:root:has(#dark:checked) {
    --clr-body-bg: rgb(24, 61, 61);
    --clr-card-bg: hsl(1, 20%, 50%);
    --clr-text: hsl(0, 0%, 100%);
    --clr-heading: hsl(0, 0%, 100%);
}

:root:has(#green:checked) {
    --clr-body-bg: rgb(56, 229, 77);
    --clr-card-bg: hsl(1, 20%, 50%);
    --clr-text: rgb(33, 146, 255);
    --clr-heading: rgb(33, 146, 255);
}

:root:has(#pink:checked) {
    --clr-body-bg: rgb(251, 161, 183);
    --clr-card-bg: hsl(1, 20%, 50%);
    --clr-text: rgb(226, 94, 62);
    --clr-heading: rgb(226, 94, 62);
}

/* Just this .container is for fisr set of gallery pictures*/
.container {
    width: 150px;
    height: 150xp;
    padding: 20px;
    margin: 100px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* From .container2 to .li a:hover are here for the navigation bar */
.container2 {
    width: 80%;
    margin: 0 auto;
}

header {
    background: rgba(77, 82, 88, 255);
}

header::after {
    content: '';
    display: table;
    clear: both;
}

.logo {
    float: left;
    width: 15%;
    padding: 10px 0;
}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 20px;
    padding-top: 25px;
}

nav li a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1;
    color: cornflowerblue;
    font-weight: bold;
    background-color: rgba(77, 82, 88, 255);
    transition: color 0.3s;

}

li a:hover {
    color: blue;
}

/* .video to .video:hover are self-explanatory */
.video {
    float: right;
}

.hidden-video {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.video:hover .hidden-video {
    visibility: visible;
    opacity: 1;
}

/* .box and .animal are for the gallery pictures for how they behave*/
.box {
    width: 150px;
    margin: 0 10px;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, .1);
    transition: 1s;
}

.animal {
    -webkit-filter: blur(10px);
    filter: blur(10px);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    display: block;
    width: 150px;
    height: 150px;
    border-radius: 5px;
}

.box:hover .animal {
    transform: scale(1.3);
    z-index: 2;
    -webkit-filter: blur(0);
    filter: blur(0);
}

.boxes,
video {
    display: flex;
}

/* These lines are for the main page buttons */
.clickableButton {
    background-color: orange;
    color: black;
    border: none;
    height: 60px;
    width: 60px;
    border-radius: 10px;
}
.square {
    width: max-content;
    height: max-content;
    background-color: transparent;
    transition: transform 0.5s;
}

.spin-animation {
    transform: rotate(360deg);
}
.ghost {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

.ghost:hover {
    opacity: 0;
}

@keyframes rainbow {
    0% {
        background: orange;
    }

    14% {
        background: #ff8000;
    }

    28% {
        background: #ffff00;
    }

    42% {
        background: #80ff00;
    }

    57% {
        background: #00ff80;
    }

    65% {
        background: #0080ff;
    }

    78% {
        background: #8000ff;
    }

    83% {
        background: #ff0080;
    }

    90% {
        background: #ff0000;
    }

    95% {
        background: #ff4500;
    }

    100% {
        background: orange;
    }
}

.rainbow:hover {
    animation: rainbow 4s linear infinite;
}

/* CSS to style the clock element */
.clock {
    color: var(--clr-body-bg); /* Default color is red */
  }
  
/* Some formatting and style for the text */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--clr-body-bg);
}
h1, h2 {
    color: var(--clr-heading);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
    color: var(--clr-text);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.text-section {
    margin-bottom: 50px;
}

.section-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.left-section {
    flex-grow: 1;
    padding: 10px;
    background-color: --var(clr-body-bg);
    ;
}

.right-aside {
    flex-basis: 30%;
    padding: 10px;
    background-color: var(--clr-body-bg);
}
/* These lines define the second set of pictures in the gallery page*/
.scroller-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.scroller {
    max-width: max-content;
}

.scroller__inner {
    padding-block: 1 rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem
}

.scroller[data-animated="true"] {
    overflow: hidden;
    -webkit-mask: linear-gradient(90deg,
            transparent,
            white 20%,
            white 80%,
            transparent);
    mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}

.scroller[data-animated="true"] .scroller__inner {
    animation: scroll 48s linear infinite;
    flex-wrap: nowrap;
    width: max-content;
}

@keyframes scroll {
    to {
        transform: translate(calc(-50% - 0.5rem));
    }
}
/* These lines are here to make the grid on the survey page*/
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
    background-color: #2196F3;
    padding: 10px;
}

.grid-container>div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: left;
    padding: 10px 0;
    font-size: 25px;
}

.item7 {
    grid-column-start: 1;
    grid-column-end: 3;
}

.item8 {
    grid-column-start: 3;
    grid-column-end: 3;
}

.button {
    background-color: lightseagreen;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
/* These lines are for the CV page */
.cvButton-container {
    display: flex;
    height: 1000px;
}

.cv-container {
    margin-top: 10px;
}

.cvButton {
    margin-top: 10px;
    background-color: orange;
    border-radius: 10px;
    height: 50px;
    width: 150px;
    font-weight: bold;
}

.pdf-container {
    width: 60%;
    height: 100%;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}

@media only screen and (min-width: 600px) {

    /* For tablets: */
    .col-s-1 {
        width: 8.33%;
    }

    .col-s-2 {
        width: 16.66%;
    }

    .col-s-3 {
        width: 25%;
    }

    .col-s-4 {
        width: 33.33%;
    }

    .col-s-5 {
        width: 41.66%;
    }

    .col-s-6 {
        width: 50%;
    }

    .col-s-7 {
        width: 58.33%;
    }

    .col-s-8 {
        width: 66.66%;
    }

    .col-s-9 {
        width: 75%;
    }

    .col-s-10 {
        width: 83.33%;
    }

    .col-s-11 {
        width: 91.66%;
    }

    .col-s-12 {
        width: 100%;
    }
}

@media only screen and (min-width: 768px) {

    /* For desktop: */
    .col-1 {
        width: 8.33%;
    }

    .col-2 {
        width: 16.66%;
    }

    .col-3 {
        width: 25%;
    }

    .col-4 {
        width: 33.33%;
    }

    .col-5 {
        width: 41.66%;
    }

    .col-6 {
        width: 50%;
    }

    .col-7 {
        width: 58.33%;
    }

    .col-8 {
        width: 66.66%;
    }

    .col-9 {
        width: 75%;
    }

    .col-10 {
        width: 83.33%;
    }

    .col-11 {
        width: 91.66%;
    }

    .col-12 {
        width: 100%;
    }
}